@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
.Carousel{
    overflow-x: hidden;
}

.slides{
    transition: .5s
}

.corpoIW{
    align-items: center;
    background: rgb(59,57,57);
    background: linear-gradient(223deg, rgba(59,57,57,1) 0%, rgba(29,29,29,1) 100%);
    height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: .5s
}
.corpoCacomp{
    align-items: center;
    background: rgb(183,0,251);
    background: linear-gradient(223deg, rgba(183,0,251,1) 0%, rgba(42,40,42,1) 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: .5s
}

.corpoLobio{
    align-items: center;
    background: rgb(0,67,196);
    background: linear-gradient(223deg, rgba(0,67,196,1) 0%, rgba(1,39,113,1) 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: .5s
}
.LogoPrj{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.header{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 30px;
}
.header h3{
    text-align: center;
    font-size: 35px;
    color: #CFCFCF;
    margin-top: auto;
    margin-bottom: auto;
}


.LogoSkills{
    fill: white;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.Icons p{
    font-size: 13px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Icons{
    display: flex;
    flex-wrap: wrap;
}
.miniIcon{
    margin: 15px;
}
.Sobre{
    width: 600px;
    margin-bottom: 30px;
}
.Direita{
    display: flex;
    flex-direction: column;
}

.imagemGrande{
    width: 500px;
}
.Btn{
    width: 180px;
    height: 50px;
    background: #dddddd;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight:bold;
    transition: .4s;
    font-family: 'Poppins', sans-serif;
}
.BtnIcon{
    width: 50px;
}
.Btn:hover{
   background: rgba(255,255,255,0.5);
   transition: .4s;
}
.botoes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.imagemGrande{
    transition: .4s;
}

.imagemGrande:hover{
    transform: scale(1.1);
    transition: .4s;
}

.Carousel{
    position: relative;
    transition: .5s;
    display: flex;
}

#BtnEsq{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: none;
    top: 5%;
    right: 60px;
    background: white;
    cursor: pointer;
    transition: .4s;
}
#BtnDir{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: none;
    top: 5%;
    right:10px;
    background: white;
    cursor: pointer;
    transition: .4s;
}

.BtnCarrosel{
    justify-content: center;
    align-items: center;
}

.BtnCarrosel img{
    margin: 0;
    width: 10px;
}


#BtnDir:hover{
    opacity: 0.6;
    transition: .4s;
}
#BtnEsq:hover{
    opacity: 0.6;
    transition: .4s;
}

.SetaClasse{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.Esquerda{
    width: 500px;
}

.Barras{
    position: absolute;
    bottom: 10px;
    right: 100px;
    display: flex;
    flex-direction: row;
}

.BarraSlide{
    margin: 10px;
    width: 60px;
    height: 5px;
    background: #FFF;
    border-radius: 50px;
}

.Active{
    width: 60px;
    height: 5px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
}

@media screen and (max-width: 767px) {
    
    .corpoIW{
        min-height: 75vh;
        width: 100vw;
        padding: 25px;
    }
    .corpoCacomp{
        padding: 25px;
        min-height: 75vh;
        width: 100vw;
    }
    .corpoLobio{
        padding: 25px;
        min-height: 75vh;
        width: 100vw;
    }
    .LogoPrj{
        width: 80px;
    }
    .header{
        margin-bottom: 20px;
    }
    .header h3{
        font-size: 20px;
        color: white;
        margin-left: -10px;
    }
    .Esquerda{
        width: 98%;
    }
    .imagemGrande{
        margin-top: -40px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .miniIcon{
        transform: scale(0.6);
        margin: 5px;
    }
    
    .imagemGrande:hover{
        transform: scale(1);
    }
    .Btn{
        width: 100px;
        height: 40px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 11px;
        font-family:  'Poppins';
    }
    .Sobre{
        width: 300px;
        margin-bottom: 10px;
    }
    .Sobre p{
        font-size: 10px;
    }
    .Esquerda h2{
        font-size: 15px;
    }
    .Direita{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .botoes{
        margin-top: -20px;
        transform: scale(.9);
    }

    .Barras{
        width: 80px;
        left: calc(50vw - 40px);
        bottom: 30px;
    }

    .BarraSlide{
        margin: 5px;
        width: 40px;
        height: 3px;
    }

    .Active{
        margin: 5px;
        width: 40px;
        height: 3px;
    }

    #BtnEsq{
        width: 30px;
        height: 30px;
        top: 75px;
        right: 50px;
        transition: .4s;
    }
    #BtnDir{
        width: 30px;
        height: 30px;
        top: 75px;
        right:10px;
    }
}
