.corpo{
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.ImagemEu{
    position: absolute;
    width: 200px;
    filter:grayscale(1);
    margin-top: -60px;
}
.boxPessoal{
    transform: scale(1.2);
    margin-top: 50px;
    position: relative;
    border-radius: 25px;
    height: 140px;
    width: 400px;
    background: rgb(13,93,211);
    background: linear-gradient(223deg, rgba(13,93,211,1) 0%, rgba(11,211,255,1) 100%);
}
.InfosPessoais{
   text-align: right;
   padding: 10px;
}

.BtnIcon{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.BtnEmail{
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 10px;
    margin-top: -3px;
    cursor: pointer;
    clear: both;
}

.BtnEmail:hover{
    opacity: 0.8;
}

.BtnIcon:hover{
    opacity: 0.8;
}

.IconeBotao{
    width: 16px;
    fill: #3a3a3a;
}