.Corpo{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: rgb(0,22,80);
    background: linear-gradient(27deg, rgba(0,22,80,1) 0%, rgba(0,48,172,1) 100%);
}

.BtnDescer{
    position: absolute;
    top: 85vh;
    left: calc(50vw - 20px);
    animation: AnimacaoBTNDESCER 1.5s infinite;
    transition: .4s;
}

.BtnDescer img{
    width: 30px;
    height: 30px;
    color: white;
}

@keyframes AnimacaoBTNDESCER {
    0%{margin-top: -15px; opacity: 1;}
    50%{margin-top: 0px; opacity: 1; }
    100%{margin-top: 15px; opacity: 0;}
}

.ImgClass img{
    width: 100%;
}

.ImgClass{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
}
.corpoRodape{
    width: 100%;
    text-align: center;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    padding: 10px;
}

.corpoRodape a{
    text-decoration: none;
    color: white;
}
.corpoRodape strong{
    font-weight: 500;
}   

.RodapeEsq{
    text-align: left;
}
.RodapeDir{
    text-align: right;
}


.corpoRodape p{
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .ImgClass img{
        width: 100%;
    }
    
    .ImgClass{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20vh;
    }
    .corpoRodape{
        flex-direction: column-reverse;
    }
}