.Corpo{
    width: 100%;
    height: 100vh;
    background: rgb(0,22,80);
    background: linear-gradient(27deg, rgba(0,22,80,1) 0%, rgba(0,48,172,1) 100%);
    align-items: center;
    justify-content: center;
}

.ImgClass img{
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.ImgClass{
    margin-left: auto;
    margin-right: auto;
}
.corpoRodape{
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #3a3a3a;
}
::-webkit-scrollbar{
   display: none;
}
::-webkit-scrollbar-thumb{
    display: none;
}
::-webkit-scrollbar-track{
    display: none;
}

@media screen and (max-width: 767px) {
    .ImgClass img{
        height: auto;
        width: 90vw;
        margin-left: 5vw;
        margin-right: auto;
        bottom: 0px;
    }
}