@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Secular+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #3A3A3A;
  color: white;
  font-family: 'Secular One', sans-serif;
  
}

